@page
@model HospitalRecordBook.Doctors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Doctor Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Specialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Specialization.SpecializationID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Fee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Fee)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-secondary" asp-route-id="@Model.Doctor.DoctorID">Edit</a>
</div>
